body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.Card:hover {
  background-color: rgb(214, 208, 208);
}

/* .deleteBtn:hover {
  opacity: 100;
  background-color: red;
} */
.boards:hover {
  transform: scale(1.2);
}

.addBoard {
  color: green;
  /* background-color: red; */
}

.lists {
  overflow-x: scroll;
  min-height: 100vh;
}
.listItems {
  width: 40vh;
}

.ChecklistDeleteBtn {
  position: absolute;
  top: 2px;
  right: 2px;
}
